@import url('https://fonts.googleapis.com/css?family=Rubik:900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
body {
	background-color: #191414;
	color: white;
  font-family: 'Roboto Mono', monospace;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 7px 12px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
	background-color: #2ebd59;
	color: white;
	text-decoration: none;
	border-width: 0;
	border-color: #29a84f;
  letter-spacing: 1.2px;
  min-width: 130px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 7px 35px 7px;
  text-transform: uppercase;
  white-space: normal;
	transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	&:hover,&:focus,&:active {
		background-color: lighten(#1db954, 10%);
		color: white;
		text-decoration: none;
		border: none;
	}
}
a {
  color: #2ebd59;
  text-decoration: none;
  &:hover,&:focus,&:active {
    color: lighten(#1db954, 10%);
    text-decoration: none;
    border: none;
  }
}
.close {
  color: white;
  opacity: 0.8;
}